<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/flowui/menu">

    <menu id="application" title="msg://com.company.testproj/menu.application.title" opened="true">
        <item view="tp1_User.list" title="msg://com.company.testproj.view.user/UserListView.title"/>
        <item view="tp1_Parent.list" title="msg://com.company.testproj.view.parent/parentListView.title"/>
    </menu>

</menu-config>